[Unit]
Description=Gost proxy ({{ item.name }})
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/gost -L "mwss://0.0.0.0:{{ item.port }}?auth={{ (USER ~ ':' ~ PASS) | b64encode }}&cert=/etc/letsencrypt/live/{{ DOMAIN }}/fullchain.pem&key=/etc/letsencrypt/live/{{ DOMAIN }}/privkey.pem" {{ item.forward }}
Restart=on-failure
RestartSec=5s
User=root

[Install]
WantedBy=multi-user.target
